body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

p {
  line-height: 1.75;
}

a {
  color: #5a5a5c;
}

a:hover {
  color: #5a5a5c;
}

.text-primary {
  color: #5a5a5c !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#services {
padding: 100px 0 ;
}


img {
  width: 50px;
  vertical-align: middle;
  border-style: none;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}
section h2.section-heading span{
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 30px;
  color:  #ffc107;;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

section h2.contribution-heading {
  font-size: 40px;
  margin-top: 5ex;
  margin-bottom: 5ex;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}
section h2.contribution-heading span{
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 90px;
  color:  #ffc107;;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

.intro-text{
  position: absolute;
  top: 40%;
  left: 1%;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.intro-text img{
  width: 7%;

}

.intro-text button{
  padding: 15px 100px 15px 100px;
  margin-top: 5ex;
}

.row-fe-h2 {
  background: url(../img/buffet.jpg) 50% 50% fixed no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-fe-h3 {
  margin-top: 20ex;
  background: url(../img/ketering.jpg) 50% 50% fixed no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*******CARD*******/ 
#cardplace{
  margin-top: 5%;
  text-align: center;
  
}
#cardplace img{
  width: 80%;
  border-radius: 70%;
}

.card-title{
margin-bottom:4ex;
font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}
.card-title span{
  margin-bottom:4ex;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
  color:  #ffc107;; 
}



/*********ENDCARD******/

.customOverlayContainer {
  background-size: cover!important;
  height: 500px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}
#portfolio .nav-item{
  margin-top: 5ex;
  color: #ffc107;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
} 
/***CARD CONTENT***/
#header-content{
  margin-top: 10%;
  text-align: center;
  width: 100%;
  z-index: 2;
}
#header-content h1{
  color: rgb(0, 0, 0);
  font-size: 40px;
}
#header-content .subtitle{
  font-size: 24px;
}

#header-content button{
  margin-top: 15px;
  padding: 20px 100px;
  color: white;
}

@media (min-width: 768px) {
  section {
    margin-top: 30px;  
  }
}

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
 }

 

video{
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;
}

#bodycolor{
  background-color: white;
  max-width: 90%;
  margin-top: 5%;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #5a5a5c;
  border-color: #5a5a5c;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color:#5a5a5c !important;
  border-color: white  !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(3, 3, 3, 0.5) !important;
}


#mainNav {
  background-color: white;
  z-index: 999;
 
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #5a5a5c;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  color: #ffc107;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #ffc107;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: black;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #5a5a5c;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 40px;
  font-style: italic;
  line-height: 40px;
  margin-bottom: 20px;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}
header.masthead .intro-text .intro-heading {
  font-size: 75px;
  font-weight: 700;
  line-height: 75px;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}



@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
    z-index: 999;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #ffffff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}


header.masthead {
  text-align: center;
  color: rgb(255, 193, 7);
  background-image: url("");
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
header.masthead span {
color: black;
}

@media (min-width: 1200px) {
  #portfolio .nav-item{
    padding: 30px 170px 30px 170px;
    color: #ffc107;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
  } 
}
@media (max-width:768px){
  video{
    display: none;
   }
   header.masthead{
     background-image: url(../img/traiteur.jpg);
     background-size: cover;
     background-position: center;
     height: auto;
     padding: 300px 0;
   }
   .intro-text{
    position: static;
   }
   header.masthead .intro-text .intro-heading {
    font-size: 44px;
    font-weight: 700;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 24px;
    font-style: italic;
    line-height: 40px;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
  }
  

}


/***FOOTER***/

ul {
  list-style: none
}
a {
  text-decoration: none
}

.flex-rw {
  display: flex;
  flex-flow: row wrap;
}

footer {
  background: rgb(55,55,55);
  margin-top: auto;
  width: 100%;
}
.footer-list-top {
  width: 33.333%;
  margin-top: 5%;
}
.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px
}
.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font: 2.3vw "Oswald", sans-serif
}
.footer-list-anchor {
  font: 1.3em "Open Sans", sans-serif
}
.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}
.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid white;
  width: calc(100% - 20px);
}
.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: rgb(55,55,55);
  padding: 0 20px;
}
.footer-social-connect {
  display: flex;
  align-items: center;
  font: 3.5em "Oswald", sans-serif;
  color: #fff;
}
.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px;
}
.footer-social-overlap > a {
  font-size: 3em;
}
.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
}
.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid ;
  margin-top: 10px;
}
.footer-bottom-section > div:first-child {
  margin-right: auto;
}
.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff;
}
.footer-address {
  display: inline;
  font-style: normal;
}
@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em;
  }
  .footer-list-anchor {
    font-size: 1.1em;
  }
  .footer-social-connect {
    font-size: 2.5em;
  }
  .footer-social-overlap > a {
    font-size: 2.24em;
  }
  .footer-bottom-wrapper {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 568px) {
  main {
    font-size: 5em;
  }
  .footer-list-top {
    width: 100%;
  }
  .footer-list-header {
    font-size: 3em;
  }
  .footer-list-anchor {
    font-size: 1.5em;
  }
  .footer-social-section {
    justify-content: center;
  }
  .footer-social-section::after {
    top: 25%;
  }
  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px;
  }
  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }
  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0;
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }
  .footer-bottom-section {
    padding: 0 5px 10px 5px;
  }
  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }
  .footer-bottom-rights {
    display: block
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em
  }
  .footer-list-anchor {
    font-size: 1.2em
  }
  .footer-social-connect {
    font-size: 2.4em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}

/***SEARCH****/

.search-form-wrapper {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px 15px;
  margin-top: 85px;
  background: url(/resources/images/misc/bg_search-open.png) right center no-repeat #ffc107;
}
.search-form-wrapper.open {
  display: block;
}
